* {
    margin: 0;
    padding: 0;
}

body {
    font-family:sans-serif
}

h1 {
    text-align: center;
    margin-bottom: 80px;
}
.input{
    margin-bottom: 30px auto;
    width: 85;
    border-bottom: 1px solid rgb(255, 0, 0);
    padding-top: 10px;
    padding-bottom: 5pzx
}

.flashes {
    background-color: #e5ff00;
    border-left: 6px solid #f4e136;
}