{% extends "base.html" %}

{% block title %}Login{% endblock %}
{% block head %}
    {{super()}}
    <link rel="stylesheet" href="/static/basic.css" type="text/css">
{% endblock %}
{% block content %}
    <h1>Admin panel</h1>
    <table>
        <thead>
        <tr>
            {% for column in columns %}
            <th>{{ column[0] }}</th>
            <th>{{ column[1] }}</th>
            {% endfor %}
        </tr>
        </thead>
        <tbody>
        {% for row in rows %}
        <tr>
            <td><a href="/account_details/{{ row[0] }}">{{ row[0] }}</a></td>
            <td>{{ row[1] }}</td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
    <form>
        <button formaction="{{ url_for( 'adduser') }}">Voeg gebruiker toe</button>
    </form>
    
{% endblock %}