{% extends "base.html" %}

{% block title %}Auteur tabel{% endblock %}
{% block content %}
    <h1>Database onderzoek</h1>
    <p>auteur<b>{{ table_name }} column</b>:</p>

    <table>
      <thead>
        <tr>
          {% for column in columns %}
          <th>{{ column }}</th>
          {% endfor %}
        </tr>
      </thead>
      <tbody>
        {% for row in rows %}
        <tr>
          {% for field in row %}
          <td>{{ field }}</td>
          {% endfor %}
        </tr>
        {% endfor %}
      </tbody>

    </table>
  </main>



