<!DOCTYPE html>
<html lang="en">
<head>
    {% block head %}
    <meta charset="utf-8"/>
    <title>{% block title %}base template{% endblock %}</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link rel="stylesheet" href="/static/style.css">
    {% endblock %}
    <!--todo: add comments-->
</head>
<body>
    <div id="content">{% block content %}<p>insert text</p>{% endblock %}</div>
    <div id="footer">{% block footer %}{% endblock %}</div>
</body>
</html>