<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>

</head>

<body>
  <table>
    <tr>

      <th>leerdoel</th>
    </tr>
    <tr>
      <td>question</td>
      <td>Which property of an object is<br> identified using the sense of smell? (A) color (B) odor (C) temperature (D)
        weight</td>
      <td>Which type of energy is needed to cut a piece of wood into smaller pieces with a saw? (A) light (B) heat (C)
        sound (D) mechanical</td>
      <td>Which type of energy is needed to cut a piece of wood into smaller pieces with a saw? (A) light (B) heat (C)
        sound (D) mechanical</td>

    </tr>
  </table>
</body>



</html>