<!DOCTYPE html>
<html lang="en">
<head>

    <title>Homepage Test correct site</title>
    <link rel="stylesheet" href="static/style.css">
</head>
<body>
    <div class="main">
        <div class="header">
            <div class="icon">
                <img src="static/assets/img/testcorrect-logo.png" alt="logo">
            </div>
            
            <div class="menu">
                <ul>
                    <li><a href="#">Home</a></li>
                    <li><a href="#">Studenten</a></li>
                    <li><a href="#">Service</a></li>
                    <li><a href="#">Design</a></li>
                    <li><a href="#">Docenten</a></li>
                </ul>
            </div>
    
            <div class= "search">
                <input type="text" class="search-input" placeholder="Search">
                <a href="#"> <button class="btn">Search</button></a>
            </div>
        </div>
        
        <div class="content">
            <h1>Database <br><span> Test correct</span> <br>website</h1>
            <p class="par">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Tenetur, quasi aliquid minima cum iusto sapiente repellendus id suscipit, deleniti consequatur nesciunt rem reiciendis dolore, quia molestias assumenda quam odio aperiam. </p>

            <button class="cn"><a href="#">LOGIN </a></button>

            <div class="form">
                <h2> login here</h2>
                <input type="email" name="email" placeholder="enter email here">
                <input type="password" name="" placeholder="enter password here">
                <button class="btn"><a href="#">login</a></button>

                <p class="link"> I don't have an account</p><br>
                <a href="#"> Create an account</a>
                <p class="liw"> log in with</p> 
            </div>
    <div>    
</body>
</html>