<!DOCTYPE html>
<html lang="en">
<head>

    <title>Homepage Test correct site</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div class="main"></div>
        <div class="navbar">
            <div class="icon">
                <h2 class="logo">BUNYAMIN</h2>
            </div>

            <div class="menu">
                <ul>
                    <li><a href="#">HOME</a></li>
                    <li><a href="#">ABOUT</a></li>
                    <li><a href="#">SERVICE</a></li>
                    <li><a href="#">DESIGN</a></li>
                    <li><a href="#">CONTACT</a></li>
                </ul>
            </div>

        </div class= "search">
            <input type="text" class="search-input" placeholder="Search">
            <a href="#"> <button class="btn">Search</button></a>
        </div>
        
        <div class="content">
            <h1>Databases <br><span> Test correct</span> <br>websites</h1>
            <p class="par">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Tenetur, quasi aliquid minima cum iusto sapiente repellendus id suscipit, deleniti consequatur nesciunt rem reiciendis dolore, quia molestias assumenda quam odio aperiam. </p>

            <button class="cn"><a href="#">LOGIN </a></button>
    <div>    
</body>
</html>