<!DOCTYPE html>
<html lang="en">
<head>

    <title>Homepage Test correct</title>
    <link rel="stylesheet" href="static/style.css">
</head>
<body>
    <div class="main">
        <div class="header">
            <div class="icon">
                <img src="static/assets/img/testcorrect-logo.png" alt="logo">
            </div>
            
            <div class="menu">
                <ul>
                    <li><a href="/table">Tabellen</a></li>
                    <li><a href="/login">Inloggen</a></li>
                </ul>
            </div>
        </div>
        
        <div class="content">

            <div class="left">
                <h1>Database <br><span> Test correct</span> <br>homepage</h1>
                <p class="par">Geef persoonlijke aandacht weer de ruimte</p>
            </div>
        </div> 
    </div>   
</body>
</html>