{% extends "base.html" %}

{% block title %}Login{% endblock %}
{% block head %}
    {{super()}}
    <link rel="stylesheet" href="/static/basic.css" type="text/css">
{% endblock %}
{% block content %}
    <h1>Login Here</h1>

    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <div class="flashes">
                {% for message in messages %}
                    <p><strong>{{ message }}</strong></p>
                {% endfor %}
            </div>
        {% endif %}
    {% endwith %}

    <form method="POST" action="/login">
        <label for="gebruikersnaam">Gebruikersnaam:</label><br>
        <input type="text" name="gebruikersnaam" required><br/>
        <label for="wachtwoord">Wachtwoord:</label><br/>
        <input type="password" name="wachtwoord" required><br/>
        <input type="submit" value="Login">
    </form>
{% endblock %}