<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <title>Database displayer</title>
    <meta name="description" content="Simple database display"/>
    <meta name="author" content="Rotterdam Academy"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link rel="stylesheet" href="/static/basic.css" type="text/css">
</head>
<body>
<main>
    <h1>Database onderzoek</h1>
        {% if table_name == "vragen":%}
        <button onclick="window.location.href= '/id/{{ table_name }}'">id</button>
        <button onclick="window.location.href= '/leerdoel/{{ table_name }}'">leerdoel</button>
        {% endif %}
{#        <button onclick="window.location.href= '/vraag/{{ table_name }}'">vraag</button>#}

{#        <SELECT  onclick="window.location.href= '/id.html'{{ table_name }} name="id" class="DatabaseModel" form-control>#}
{#            <option value="id">id</option>#}
{#            <option value="leerdoel">leerdoel</option>#}
{#            <option value="auteurs">auteur</option>#}
{#              {% for column in data %}#}
{#              <option value="{{ column }}">{{ columns }}</option>#}
{#              {% endfor %}#}
{#            </SELECT>#}



      </form>
    <p>Alle kolommen <b>{{ table_name }}</b>:</p>
    <table>
        <thead>
        <tr>
            {% for column in columns %}
            <th>{{ column }}</th>
            {% endfor %}
        </tr>
        </thead>
        <tbody>
        {% for row in rows %}
        <tr>
            {% for field in row %}
            <td>{{ field }}</td>
            {% endfor %}
        </tr>
        {% endfor %}
        </tbody>

    </table>
</main>
</body>

</html>
